.input_group{
    display: flex;
    flex-direction: row;
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 45px;
    height: 70px;
    margin-top: 80px;
}
.input_search_box{
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 45px;
}
.input_search_box:focus,
.input_search_box:focus-visible{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}
.input_search_btn{
    border-radius: 45px;
    padding: auto;
    width: 200px;
    border: none;
}